<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="#{messages['web.app.table.personal.historia.menu']}" style="#{messages['web.app.style.menu']}" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Historial de personal</h4></center>
                <br/>

                <h:form id="detallePersonal">
                    <!--<center><h5>Datos de personal</h5></center>-->

                    <div class="ui-g-12 ui-md-6 ui-lg-12">
                        <h:panelGrid columns="2" >
                            <p:column>

                                <div  class="ui-g-16 ui-md-6 ui-lg-6">
                                    <div align="center">
                                        <h:outputText value="#{messages['web.app.table.fIngreso']}: "/>
                                        <h:outputLabel value="#{verInformacionDePersonalMB.detalleSeleccionado.fec_ingreso}" style="color:black">
                                            <f:convertDateTime pattern="#{messages['web.app.label.formatoFecha']}" />
                                        </h:outputLabel>
                                    </div>
                                </div>

                            </p:column> 
                            <p:column>

                                <div  class="ui-g-10 ui-md-6 ui-lg-10">
                                    <div align="center">
                                        <h:outputText value="#{messages['web.app.table.empleado']}: "/>
                                        <h:outputLabel value="#{verInformacionDePersonalMB.detalleSeleccionado.des_nombre} 
                                                       #{verInformacionDePersonalMB.detalleSeleccionado.des_apepaterno}
                                                       #{verInformacionDePersonalMB.detalleSeleccionado.des_apematerno}" style="color:black">
                                        </h:outputLabel>
                                    </div>
                                </div >

                            </p:column> 
                        </h:panelGrid>

                    </div>


                    <div class="ui-g-12 ui-md-6 ui-lg-12">


                        <p:dataTable  var="dtInfoHistorial" 
                                      value="#{historialEmpleadosRhMB.historialEmpleadosRh}" 
                                      id="tablaHistorialDatos"
                                      emptyMessage="#{messages['web.app.table.noData']}" 
                                      rows="#{messages['web.app.table.initialRows']}" 
                                      paginator="true"
                                      style="font-size: small" 
                                      paginatorPosition="bottom">
                            <f:facet name="header">
                                <p:outputPanel>
                                    <div align="center">
                                        <h:outputText value="#{messages['web.app.table.quincena']}" />
                                    </div>
                                </p:outputPanel>
                            </f:facet>
                            <p:ajax event="rowToggle" listener="#{historialEmpleadosRhMB.desgloceAguinaldo(dtInfoHistorial.quincena)}" />
                            <p:column headerText="Detalles" width="5%">
                                <!--h:outputText value="{datosNomTab.mostrarDetalles}" /-->
                                <p:rowToggler />
                            </p:column>

                            <p:column headerText="#{messages['web.app.table.area']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoHistorial.des_nbarea}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.puesto']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoHistorial.des_puesto}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.quin']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoHistorial.des_quincena}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.fechaInicio']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoHistorial.fec_inicio}">
                                    <f:convertDateTime pattern="#{messages['web.app.label.formatoFecha']}" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.fechaFin']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoHistorial.fec_fin}">
                                    <f:convertDateTime pattern="#{messages['web.app.label.formatoFecha']}" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.fechaPago']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoHistorial.fec_pago}">
                                    <f:convertDateTime pattern="#{messages['web.app.label.formatoFecha']}" />
                                </h:outputText>
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.sueldobase']}" width="auto" style="text-align:center">
                                <h:outputText value="$#{dtInfoHistorial.imp_concepto}" />
                            </p:column>
                            <p:rowExpansion>
                                <p:panelGrid  columns="1" columnClasses="label,value" 
                                    style="width:100%; border: none; background: #FFFFFF;">
                                    
                            <p:dataTable id="dias" value="#{historialEmpleadosRhMB.listaDaxmldto}"
                                                  var="datosDiasTab" 
                                                 emptyMessage="No existen datos para esta consulta."
                                                 style="width:100%; "> 
                                <f:facet name="header">  
                                    <div align="center">
                                        <h:outputText value="#{messages['web.app.table.detalledias']}"></h:outputText>
                                    </div>      
                                </f:facet>
                                 
                                
                                <p:column headerText="#{messages['web.app.table.fsalariod']}" style="text-align:center">
                                    <h:outputText value="#{datosDiasTab.vSalarioD}" />
                                </p:column> 
                                
                                <p:column headerText="#{messages['web.app.table.fdiaslab']}" style="text-align:center">
                                    <h:outputText value="#{datosDiasTab.vDiasLab}" />
                                </p:column> 
                                </p:dataTable>
                                <p:dataTable id="tablaDetallesQuincena" value="#{historialEmpleadosRhMB.listaDaxmldto}"
                                         emptyMessage="No existe historial para este empleado" 
                                         var="datosNomTab"
                                         style="width:100%;">
                                         <f:facet name="header">  
                                             <div align="center">
                                                 <h:outputText value="#{messages['web.app.table.aguinaldo']}"></h:outputText>  
                                             </div>
                                        </f:facet>
                                 <p:column headerText="#{messages['web.app.table.tAguinaldo']}" style="text-align:center">
                                    <h:outputText value="Honorarios" />
                                </p:column>        
                                <p:column headerText="#{messages['web.app.table.salariod']}" style="text-align:center">
                                    <h:outputText value="$#{datosNomTab.salarioDiario}" />
                                </p:column>
                                <p:column headerText="#{messages['web.app.table.diaslab']}" style="text-align:center">
                                    <h:outputText value="#{datosNomTab.diasLaborados}" />
                                </p:column>
                                        <p:column headerText="#{messages['web.app.table.dpropaguinaldo']}" style="text-align:center">
                                    <h:outputText value="#{datosNomTab.diasPropAguinaldo}" />
                                </p:column>
                                        <p:column headerText="#{messages['web.app.table.propaguinaldo']}" style="text-align:center">
                                    <h:outputText value="$#{datosNomTab.propAguinaldo}" />
                                </p:column>
                               
                            </p:dataTable> <!-- end table sueldo--> 
                                </p:panelGrid>
                            </p:rowExpansion>


                        </p:dataTable> <!-- end table -->
                         
                    </div>  
                </h:form>
            </div> <!-- end container -->
        </main>
    </ui:define> 
</ui:composition>
