<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Personal -> Historial de altas y bajas validadas" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Validaciones de Nómina</h4></center>
                <br/>

                <h:form id="detallePersonal">
                    <center><h5>Altas</h5></center>

                    <div class="#{messages['web.app.table.tabla2']}">

                        <p:dataTable  var="dtInfoAltas" 
                                      value="#{validacionesNominaMB.listaValidaciones}" 
                                      id="tablaAltasValidadas"
                                      emptyMessage="#{messages['web.app.table.noData']}"  
                                      rows="#{messages['web.app.table.initialRows']}" 
                                      paginator="true" 
                                      style="font-size: small" 
                                      paginatorPosition="bottom">

                            <f:facet name="header">
                                <p:spacer height="27"/>
                                <!--                                <h:commandLink
                                                                    id="reporteValidacionesNomina"                                  
                                                                    title="Historial de altas"
                                                                    action="{validacionesNominaMB.reporteHistorialAltas()}"
                                                                    target="_blank"
                                                                    style="display:inline; 
                                                                    float:right; 
                                                                    font-size:x-small;
                                                                    padding: 2px;" >
                                                                    <h:graphicImage library="imagenes" name="pdf-icon.png" width="20px" />
                                                                </h:commandLink>-->
                            </f:facet>
                            <p:ajax event="rowToggle" listener="#{validacionesNominaMB.historialPorEmpleado(dtInfoAltas.cod_empleadoid)}" />
                            <p:column headerText="Detalles" width="10%">
                                <p:rowToggler />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.id']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoAltas.cod_empleadoid}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.empleado']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoAltas.nom_empleado}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.area']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoAltas.des_nbarea}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.puesto']}" width="auto" style="text-align:center">
                                <h:outputText value="#{dtInfoAltas.des_puesto}" />
                            </p:column>

                            <p:column headerText="PDF" width="10%" style="text-align:center" >
<!--                                <p:menuButton icon="#{messages['web.app.icon.desplegar']}" >
                                    <p:menuitem > -->
                                <h:commandLink
                                    id="reporteHistorial"                                  
                                    title="Historial"
                                    target="_blank"
                                    action="#{validacionesNominaMB.reporteHistorialAltas(dtInfoAltas)}">
                                    <h:graphicImage library="imagenes" name="pdf-icon.png" width="25%;" />
                                </h:commandLink>
                                <!--                                    </p:menuitem>                                
                                                                </p:menuButton>-->
                            </p:column>

                            <p:rowExpansion>
                                <p:panelGrid  columns="1" columnClasses="label,value" 
                                              style="width:100%; border: none; background: #FFFFFF;">

                                    <p:dataTable id="tablaHistorialaltas" value="#{validacionesNominaMB.listaDesxml}"
                                                 emptyMessage="No existe historial para este empleado" 
                                                 var="datosNomTab"
                                                 sortBy="#{datosNomTab.fecha}"
                                                 sortOrder="DESCENDING"
                                                 style="width:100%;">
                                        <f:facet name="header">  
                                            <div align="center">
                                                <h:outputText value="#{messages['web.app.table.altas']}"></h:outputText>  
                                            </div>
                                        </f:facet>
                                        <p:column headerText="#{messages['web.app.table.fecha']}" style="text-align:center">
                                            <h:outputText value="#{datosNomTab.fecha}" >
                                                <f:convertDateTime pattern="#{messages['web.app.label.formatoFecha']}" />
                                            </h:outputText>    
                                        </p:column>
                                        <p:column headerText="#{messages['web.app.table.sueldoimss']}" style="text-align:center">
                                            <h:outputText value="#{datosNomTab.sueldoimss}" >
                                            </h:outputText>    
                                        </p:column>
                                        <p:column headerText="#{messages['web.app.table.sueldohon']}" style="text-align:center">
                                            <h:outputText value="#{datosNomTab.sueldohono}" >
                                            </h:outputText>    
                                        </p:column>
                                        
                                        <p:column headerText="#{messages['web.app.table.validacion']}" style="text-align:center">

                                            <h:outputText id="txtValidar" value="#{datosNomTab.estatus=='a'?'ALTA ACEPTADA':
                                                                                   datosNomTab.estatus=='b'?'ALTA RECHAZADA':
                                                                                   datosNomTab.estatus=='c'?'BAJA ACEPTADA':
                                                                                   datosNomTab.estatus=='d'?'BAJA RECHAZADA':
                                                                                   datosNomTab.estatus=='n'?'ALTA EN EL SISTEMA':'Sin cambios de estatus'}"  />
                                        </p:column>
                                    </p:dataTable>
                                    

                                </p:panelGrid>
                            </p:rowExpansion>


                        </p:dataTable> <!-- end table -->

                    </div>  
                </h:form>

            </div> <!-- end container -->
        </main>
    </ui:define> 
</ui:composition>
