<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">



    <h:head>
        <meta charset="utf-8"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"/>
        <h:outputStylesheet library="css" name="materialize.min.css" />

        <f:metadata>
            <f:event type="preRenderView" listener="#{indexMB.obtenerCookie()}"/>
        </f:metadata>

        <style>
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }
            main { flex: 1 0 auto; }
        </style>
    </h:head>
    
    <h:outputScript library="primefaces" name="jquery/jquery.js" />
            <h:outputScript library="js" name="materialize.min.js"/>
            <script>
                $(document).ready(function () {
                    // Activate the side menu 
                    $(".button-collapse").sideNav({
                        edge: 'right'
                    });
                    $('.slider').slider({
                        full_Width: true
                    });

                });
            </script> 

    <main>
        <!-- HEADER -->
        <div class="navbar-fixed">
            <nav class="orange lighten-1" role="navigation">
                <div class="nav-wrapper container">
                    <center>
                        <h:graphicImage library="imagenes" name="mbnLogo.png" style="height: 60px; width: 130px" class="center" />
                    </center>

                </div>    
            </nav>
        </div>


        <style>
            .slider .indicators .indicator-item {
                background-color: #ffffff;
                border: 3px solid #2196f3;
                -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            }
            .slider .indicators .indicator-item.active {
                background-color: #2196f3;
            }
            .slider .indicators {
                bottom: 60px;
                z-index: 100;
                /* text-align: left; */
            }
        </style>


        <div class="fullscreen">
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="resources/imagenes/f1.jpg"/> <!-- random image -->
                        <div class="caption left-align">
                            <h3></h3>
                            <h5 class="light grey-text text-lighten-3"></h5>
                        </div>
                    </li>
                    <li>
                        <img src="resources/imagenes/f2.jpg"/> <!-- random image -->
                        <div class="caption left-align">
                            <h3></h3>
                            <h5 class="light grey-text text-lighten-3"></h5>
                        </div>
                    </li>
                    <li>
                        <img src="resources/imagenes/f3.jpg"/> <!-- random image -->
                        <div class="caption right-align">
                            <h3></h3>
                            <h5 class="light grey-text text-lighten-3"></h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <h3><center>MBN SUITE</center></h3>

        <div class="row">
            <div class="col s4">

            </div>
            <div class="col s6 m4 14">
                <div class="icon-block">
                    <h2 class='center light-blue-text'>
                        <h:form>
                            <h:commandLink action="#{indexMB.redirigirSistemaSGRT()}">
                                <i class="material-icons large">chrome_reader_mode</i>
                            </h:commandLink>
                        </h:form>
                    </h2>
                    <h5 class="center">Reuniones y tickets</h5>
                </div>
            </div>
            <div class="col s6 m4 14">
                <div class="icon-block">
                    <h2 class='center light-blue-text'>
                        <h:form>
                            <h:commandLink action="#{indexMB.redirigirSistemaSGNOM()}">
                                <i class="material-icons large">chrome_reader_mode</i>
                            </h:commandLink>
                        </h:form>
                    </h2>
                    <h5 class="center">Nómina</h5>
                </div>
            </div>
            <div class="col s6 m4 14">
                <div class="icon-block">
                    <h2 class='center light-blue-text'>
                        <h:form>
                            <h:commandLink action="#{indexMB.redirigirSistemaSISAT()}">
                                <i class="material-icons large">chrome_reader_mode</i>
                            </h:commandLink>
                        </h:form>
                    </h2>
                    <h5 class="center">SISAT</h5>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    </main>


    <footer class="page-footer orange">
        <div class="container">
            <div class="row" >
                <div class="col s12 m12 l12" >
                    <h5 class="white-text">Miracle Business Network</h5>
                    <p class="grey-text text-lighten-4" style="text-align: justify;" >Ser el mejor socio estratégico de nuestros clientes, colaboradores, proveedores, accionistas y asociados para ser valorados por la sociedad e instituciones.</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">                
            <div class="container">
                CopyRight <i class='material-icons tiny'>copyright</i> <a class="orange-text text-lighten-4" href="http://www.mbn.com.mx">MBN</a>
            </div>
        </div>
    </footer>
</html>