<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <style>
                    .ui-outputLabel
                    {
                        color: black;
                    }
                </style>
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Configuración -> Configuración de argumentos" style="font-weight: bold; color:black;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>
                <center><h4>Configuración de argumentos</h4></center>

                <h:form id="Argumentos">
                    <div class="ui-g-12 ui-md-6 ui-lg-12">

                        <p:dataTable id="tablaArgumento" var="detArgumento" 
                                     emptyMessage="No existen argumentos" 
                                     value="#{confArgumentosMB.listaArgumentos}" 
                                     reflow="true" rows="5" paginator="true" paginatorPosition="bottom" rowIndexVar="numerador" style="font-size: small" >
                            <f:facet name="header">
                                .   
                                <p:commandButton icon="#{messages['web.app.icon.agregar']}" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="#{confArgumentosMB.dialogoCrear()}"
                                                 update="ArgumentoDialogo">
                                </p:commandButton>

                            </f:facet>
                            <p:column filterBy="#{detArgumento.codNbargumento}" headerText="#{messages['web.app.table.nombreArgumento']}" filterMatchMode="contains" filterStyle="background: #FFFFFF; height: 3%; width:100%;">
                                <h:outputText  value="#{detArgumento.codNbargumento}"/><br/>
                            </p:column>


                            <p:column filterBy="#{detArgumento.codClavearg}" headerText="#{messages['web.app.table.claveArgumento']}" filterMatchMode="contains" filterStyle="background: #FFFFFF; height: 3%; width:100%;">
                                <h:outputText  value="#{detArgumento.codClavearg}"/><br/>

                            </p:column>

                            <p:column filterBy="#{detArgumento.txtDescripcion}" headerText="#{messages['web.app.table.descripcionArgumento']}" filterMatchMode="contains" filterStyle="background: #FFFFFF; height: 3%; width:100%;">
                                <h:outputText value="#{detArgumento.txtDescripcion}" />
                            </p:column>

                            <p:column filterBy="#{detArgumento.codTipoargumento}" headerText="#{messages['web.app.table.tipoArgumento']}"  filterMatchMode="exact" >
                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tablaArgumento').filter()" styleClass="custom-filter" style="height: 3%; width:75%">
                                        <f:selectItem itemLabel="Selecciona uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItems value="#{detArgumento.codTipoargumento}" />
                                    </p:selectOneMenu>
                                </f:facet>
                                <h:outputText value="#{detArgumento.codTipoargumento}" />
                            </p:column>
                            <p:column filterBy="" headerText="#{messages['web.app.table.constante']}" filterMatchMode="contains">
                                <h:outputText  value="#{detArgumento.impValorconst}"/><br/>

                            </p:column>
                            <!--p:column filterBy="" headerText="Estatus"  filterMatchMode="exact">

                                <f:facet name="filter">
                                    <p:selectOneMenu onchange="PF('tablaArgumento').filter()" styleClass="custom-filter">
                                        <f:selectItem itemLabel="Selecciona uno" itemValue="{null}" noSelectionOption="true" />
                                        <f:selectItems value="{dtFilterView.estatus}" />
                                    </p:selectOneMenu>
                                </f:facet>

                                <h:outputText value="{detArgumento.bolEstatus}" />
                            </p:column-->

                            <p:column filterBy="" headerText="#{messages['web.app.table.funcion']}" filterMatchMode="contains">
                                <h:outputText value="#{detArgumento.desFuncionbd}" />
                            </p:column>

                            <p:column headerText="Acciones" width="100" style="text-align:center" >

                                <!--p:commandButton icon="fa fa-edit" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="{confArgumentosMB.dialogoCrear()}">
                                </p:commandButton-->



                                <p:menuButton value="" icon="#{messages['web.app.icon.desplegar']}" >
                                    <p:menuitem value="Editar" action="#{confArgumentosMB.dialogoEditar(detArgumento)}" update="ArgumentoDialogo" icon="fa fa-edit"/>
                                    <p:menuitem value="Eliminar" action="#{confArgumentosMB.dialogoEliminar(detArgumento)}"  icon="fa fa-trash">
                                        <!--<p:confirm header="Eliminar argumento" message="¿Desea eliminar este argumento?" icon="fa fa-exclamation-triangle" />-->
                                    </p:menuitem>
                                </p:menuButton>


                                <p:growl id="messages" />
                            </p:column>

                        </p:dataTable>
                    </div>
                    <!--                    </h:panelGrid>-->
                </h:form>
                <style>
                    #ArgumentoDialogo{
                        top: 10% !important;

                    }
                    .anchoFuncion { width: 83% !important}
                    .anchoTipo { width: 63% !important}

                    .disable-scroll{
                        overflow: hidden !important;
                    }
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }

                </style>


                <p:dialog id="ArgumentoDialogo" resizable="false" closable ='false' styleClass="disable-scroll" draggable="false" header="#{confArgumentosMB.titulo}" widgetVar="ArgumentoDialogo" position="center center" modal="true" height="4%" width="50%" style ="background: #FFFFFF;" >
                    <h:form id="ArgumentoForm">
                        <h:panelGrid columns="1" id="contenido">  
                            <p:growl id="growl" showDetail="true" sticky="false" />  
                            <p:column>  
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel value="Nombre del argumento:"/>
                                    <p:inputText id="nombreArgumento"  maxlength="15" value = "#{confArgumentosMB.argumentoSeleccionado.codNbargumento}" class="materialize-textarea" required="true" requiredMessage="#{messages['web.app.required.nombreArgumento']}"/>

                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel value="Clave:"/>
                                    <p:inputText id="claveArgumento" maxlength="5" value = "#{confArgumentosMB.argumentoSeleccionado.codClavearg}" class="materialize-textarea" required="true" requiredMessage="#{messages['web.app.required.claveArgumento']}"/>
                                </div>
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel value="Descripción:"/>
                                    <p:inputText id="descripcionArgumento" maxlength="30" value = "#{confArgumentosMB.argumentoSeleccionado.txtDescripcion}" class="materialize-textarea" required="true" requiredMessage="#{messages['web.app.required.descripcionArgumento']}"/>
                                </div>

                                <div  class="ui-g-12 ui-md-6 ui-lg-6"  >
                                    <p:outputLabel for="TipoArgumento" value="Tipo argumento:"/><br></br> 
                                    <p:selectOneMenu id="TipoArgumento" 
                                                     value="#{confArgumentosMB.argumentoSeleccionado.codTipoargumento}" 
                                                     styleClass="anchoTipo" required="true"
                                                     requiredMessage="#{messages['web.app.required.tipoArgumento']}">
                                        <f:selectItem itemLabel="Seleccionar" itemValue="#{null}" />
                                        <f:selectItem itemLabel="Variable" itemValue="0"  />
                                        <f:selectItem itemLabel="Constante" itemValue="1"/>
                                        <p:ajax event="change" listener="#{confArgumentosMB.hola()}" 
                                                process="@this" 
                                                update="ArgumentoForm:contenido,ArgumentoForm:Constante,ArgumentoForm:Funciones"/>
                                    </p:selectOneMenu><br></br><br></br>  
                                </div>
                            </p:column>
                            <p:column id="Constante" rendered="#{confArgumentosMB.argumentoSeleccionado.codTipoargumento=='1'?true:false}"> 
                                <div class="ui-g-12 ui-md-6 ui-lg-6">
                                    <p:outputLabel  value="Valor constante:"/>
                                    <p:inputNumber  id="valorConstante" maxlength="5" value = "#{confArgumentosMB.argumentoSeleccionado.impValorconst}" 
                                                    converterMessage="Por favor solo ingrese numeros" 
                                                    class="materialize-textarea" required="true" 
                                                    requiredMessage="#{messages['web.app.required.valorConstante']}"/>
                                </div>
                            </p:column>
                            
                            <p:column id="Funciones" rendered="#{confArgumentosMB.argumentoSeleccionado.codTipoargumento=='0'?true:false}">
                                
                                <div class="ui-g-12 ui-md-6 ui-lg-6"  >
                                    <p:outputLabel for="funcion" value="Función:" /><br></br>
                                    <p:selectOneMenu id="funcion" 
                                                     value="#{confArgumentosMB.argumentoSeleccionado.desFuncionbd}" 
                                                     styleClass="anchoFuncion" converter="omnifaces.SelectItemsConverter" 
                                                     required="true"
                                                     requiredMessage="#{messages['web.app.required.funcionArgumento']}">
                                        <f:selectItem itemLabel="Selecciona" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItems  value="#{confArgumentosMB.listaFunciones}"
                                                        var="funcion"
                                                        itemLabel="#{funcion.codNbfuncion}" itemValue="#{funcion.codNbfuncion}" />

                                    </p:selectOneMenu>
                                </div>
                            </p:column>
                            <f:facet name = "footer">
                                <div style="padding-left: 60%">
                                    <p:commandButton  value="Cancelar" onclick="PF('ArgumentoDialogo').hide();" action ="#{confArgumentosMB.limpiarDialogo()}" id="btnCancelarGuardar" style="margin-right:2%;" styleClass="ui-priority-primary" />
                                    <p:commandButton value="Guardar" id="btnGuardar" ajax="true" update="ArgumentoDialogo,Argumentos:tablaArgumento"  action="#{confArgumentosMB.guardar()}" style="margin-right:2%;" styleClass="ui-priority-primary" />
                                </div>


                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>  

                <style>
                    #dialogEliminar{
                        background: #FFFFFF !important;
                        top: 30% !important;

                    }

                    .ui-dialog .ui-dialog-buttonpane{
                        background: #FFFFFF !important;
                    }

                </style>
                <!--p:confirmDialog id="dialogEliminar" widgetVar="dialogEliminar" global="true" 
                                 showEffect="fade" hideEffect="fade"
                                 closable="false"
                                 header="Eliminar"
                                 message="¿Desea eliminar el argumento?">
                    <h:form id="dialogoEliminarForm">
                        <center>
                            <p:growl id="mensaje" showDetail="true" />

                            <p:commandButton value="No" type="button" 
                                             styleClass="ui-confirmdialog-no" 
                                             onclick="PF('dialogEliminar').hide();"/>
                            
                             <p:commandButton value="Si" immediate="true"
                                             styleClass="ui-confirmdialog-yes" 
                                             
                                             action="{confArgumentosMB.eliminarArgumento()}" 
                                             update="dialogEliminar,:dialogoEliminarForm:mensaje"
                                             />
                        </center>
                    </h:form>


                </p:confirmDialog-->


                <p:confirmDialog id="dialogEliminar" widgetVar="dialogEliminar" 
                                 header="Eliminar" closable="false"
                                 message="¿Desea eliminar  el argumento?" 
                                 showEffect="fade" hideEffect="fade" >


                    <center>
                        <p:growl id="mensaje" showDetail="true" />
                        <p:commandButton value="#{messages['web.app.button.no']}" 
                                         process="@this" 
                                         onclick="PF('dialogEliminar').hide();" />
                        <p:commandButton value="#{messages['web.app.button.si']}" process="@this" 
                                         action="#{confArgumentosMB.eliminarArgumento()}" 
                                         update="dialogEliminar,Argumentos:tablaArgumento,mensaje"/>
                    </center>


                </p:confirmDialog>




            </div> <!-- end container -->       
        </main>
    </ui:define>
</ui:composition>
