<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">
        <main>
            <div class="container ">

                <!--agregar este CSS a cada archivo-->
                <style>
                    /*color del texto*/
                    /*                    .ui-widget-header{
                                            color: black;
                                        }*/
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }
                    .ui-outputlabel {
                        color: black;
                    }
                    .ui-dialog-content > .ui-icon {
                        display: none;
                    }
                    .test div{
                        border-bottom: solid 2px red;
                        width: 100%;
                        height: 5%;
                    }
                    .ui-confirm-dialog ui-dialog ui-widget ui-widget-content ui-corner-all ui-shadow ui-hidden-container{
                        position: 'center top';
                        background: #FFFFFF;
                    }
                    .ui-growl-item-container{
                        background: red !important;
                    }
                    .ui-dialog .ui-dialog-buttonpane{
                        background: #FFFFFF !important;
                    }
                    #dlgCalc{
                        top: 30% !important;
                        background:#FFFFFF !important;
                    }
                    #dlgVal{
                        top: 30% !important;
                        background:#FFFFFF !important;
                    }
                    #dlgCerrar{
                        top: 30% !important;
                        background:#FFFFFF !important;
                    }
                    #confirmacion {
                        top: 30% !important;
                        bottom: 30%;
                        background:#FFFFFF !important;
                    }
                </style>

                <!--Barra de navegación-->
                <div align="left">
                    <p:outputLabel value="Nómina -> Crear nómina" 
                                   style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Crear nómina</h4></center>
                <!-- Datatable FUNCIONA-->
                <h:form id="Crear">
                    <!--                    <div class="ui-g-12 ui-md-12 ui-lg-12" align="centered">
                    
                                            <p:dataTable id="datosNomTabla" var="datosNom" 
                                                         emptyMessage="No existen datos para esta consulta." 
                                                         value="#{dtFilterView.datosNoms}" 
                                                         reflow="true" paginator="true"
                                                         widgetVar="datosNomTab" 
                                                         filteredValue="#{dtColumnsView.datosNoms}" 
                                                         rows="5"  
                                                         paginatorPosition="bottom" 
                                                         style="font-size: small"
                                                         >
                    
                                                <f:facet name="header">
                    
                                                    <p:outputPanel>
                                                        Resultados Consulta<br></br>
                                                        <h:outputText value="Buscar:" />
                                                        <p:inputText id="globalFilter" 
                                                                     onkeyup="PF('crearNomTab').filter()" 
                                                                     style="width:230px" 
                                                                     placeholder="     Ingresa criterio de busqueda" 
                                                                     />
                                                    </p:outputPanel>
                                                    boton agregar nomina
                                                    <p:commandButton 
                                                        icon="#{messages['web.app.icon.agregar']}" 
                                                        process="@this" 
                                                        action="#{creaNomMB.dialogoCrear()}"
                                                        title="Agregar nómina"
                                                        style="display:inline;
                                                        float:right;
                                                        font-size: small;
                                                        align-content: center;"
                                                        update="dlgCrear"
                                                        >
                                                    </p:commandButton>
                                                    <p:spacer height="27"/>
                                                </f:facet>
                    
                                                <p:column headerText="Nombre nómina">
                                                    <h:outputText value="#{crearNom.mostrarDetalles}" />
                                                </p:column>
                    
                                                <p:column filterBy="#{crearNom.ejerFisc}" 
                                                          headerText="Ejercicio fiscal" 
                                                          filterMatchMode="exact">
                                                    <f:facet name="filter">
                                                        <p:selectOneMenu onchange="PF('crearNom.ejerFisc').filter()" 
                                                                         styleClass="custom-filter">
                                                            <f:selectItem itemLabel="Ejercicio fiscal" 
                                                                          itemValue="#{null}" 
                                                                          noSelectionOption="true" />
                                                            <f:selectItems value="#{dtFilterView.ejerFisc}" />
                                                        </p:selectOneMenu>
                                                    </f:facet>
                                                    <h:outputText value="#{crearNom.ejerFisc}" />
                                                </p:column>
                    
                                                <p:column filterBy="#{crearNom.quin}" 
                                                          headerText="Quincena" 
                                                          filterMatchMode="exact">
                                                    <f:facet name="filter">
                                                        <p:selectOneMenu onchange="PF('crearNom.quin').filter()" 
                                                                         styleClass="custom-filter">
                                                            <f:selectItem itemLabel="Quincena" itemValue="#{null}" 
                                                                          noSelectionOption="true" />
                                                            <f:selectItems value="#{dtFilterView.quin}" />
                                                        </p:selectOneMenu>
                                                    </f:facet>
                                                    <h:outputText value="#{crearNom.quin}" />
                                                </p:column>
                    
                                                <p:column filterBy="#{crearNom.tipoNom}" 
                                                          headerText="Tipo nómina" 
                                                          filterMatchMode="exact">
                                                    <f:facet name="filter">
                                                        <p:selectOneMenu onchange="PF('crearNom.quin').filter()" 
                                                                         styleClass="custom-filter">
                                                            <f:selectItem itemLabel="Tipo nómina" 
                                                                          itemValue="#{null}" 
                                                                          noSelectionOption="true" />
                                                            <f:selectItems value="#{dtFilterView.tipoNom}" />
                                                        </p:selectOneMenu>
                                                    </f:facet>
                                                    <h:outputText value="#{crearNom.tipoNom}" />
                                                </p:column>
                    
                                                <f:facet name="paginatorTopLeft">
                                                    <p:commandButton type="button" icon="pi pi-refresh" />
                                                </f:facet>
                    
                                                <f:facet name="paginatorBottomRight">
                                                    <p:commandButton type="button" icon="pi pi-cloud-upload" />
                                                </f:facet>
                    
                                            </p:dataTable>
                    
                                        </div>-->
                    <!--Datatable fin -->
                    <!--                </h:form>
                    
                                    <h:form id="FormCrear">-->
                    <p:panel class="ui-g-12 ui-md-12 ui-lg-12" 
                             style="background: #FFFFFF; border: none;" id="detallePane1s">
                        <p:growl id="growl1" showDetail="true" sticky="false" /> 
                        <f:facet name="header">
                            <div align="center">
                                Crear nómina
                            </div>
                        </f:facet>
                        <div class="ui-g-5 ui-md-4 ui-lg-5" >
                            <div class="row">
                                <p:outputLabel value="Nombre de la nómina:"/> 
                                <p:inputText id="nombreNomina"  
                                             maxlength="10" 
                                             required="true" 
                                             requiredMessage="#{messages['web.app.required.nombreNomina']}"/>
                            </div>
                            <div class="row">
                                <p:outputLabel for="ejerFisc" value="Ejercicio Fiscal:" />
                                <br></br>
                                <br></br>
                                <p:selectOneMenu id="ejerFisc" class="materialize-textarea" 
                                                 value="#{selectOneMenuView.console}" 
                                                 style="width:90%">
                                    <f:selectItem itemLabel="Ejercicio fiscal" itemValue="" />
                                    <f:selectItem itemLabel="2017" itemValue="2018" />
                                    <f:selectItem itemLabel="2018" itemValue="2018" />
                                    <f:selectItem itemLabel="2019" itemValue="2019" />
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <div class="ui-g-1 ui-md-1 ui-lg-1" >
                        </div>
                        <div class="ui-g-5 ui-md-4 ui-lg-5" >
                            <div class="row">
                                <p:outputLabel for="quin" value="Quincena:" /> 
                                <br></br>
                                <br></br>
                                <p:selectOneMenu id="quin" 
                                                 value="#{selectOneMenuView.console}" 
                                                 style="width:90%">
                                    <f:selectItem itemLabel="Quincena" itemValue="" />
                                    <f:selectItem itemLabel="2017" itemValue="2017" />
                                    <f:selectItem itemLabel="2018" itemValue="2018" />
                                    <f:selectItem itemLabel="2019" itemValue="2019" />
                                </p:selectOneMenu>  
                            </div>
                            <div class="row">
                                <p:outputLabel for="tipoNom" value="Tipo de nómina:" /> 
                                <br></br>
                                <br></br>
                                <p:selectOneMenu id="tipoNom" value="#{selectOneMenuView.console}" 
                                                 style="width:90%">
                                    <f:selectItem itemLabel="Tipo de nómina" itemValue="" />
                                    <f:selectItem itemLabel="2017" itemValue="2017" />
                                    <f:selectItem itemLabel="2018" itemValue="2018" />
                                    <f:selectItem itemLabel="2019" itemValue="2019" />
                                </p:selectOneMenu>
                            </div>
                        </div>
                        <!--<f:facet name="footer">-->
                        <div style="padding-left: 60%">
                            <p:commandButton  value="Cancelar" 
                                              onclick="PF('dlgCrear').hide();" 
                                              id="btnCancelarGuardaar" 
                                              style="margin-right:2%;" 
                                              styleClass="ui-priority-primary" />
                            <p:commandButton value="Crear" 
                                             id="btnGuarddar" 
                                             ajax="true" 
                                             style="margin-right:2%;" 
                                             styleClass="ui-priority-primary" />
                        </div>
                        <!--</f:facet>-->
                    </p:panel>

                    <p:panelGrid columns="2" id="contenido" style="margin-bottom:10px" > 
                        <p:growl id="growl" showDetail="true" sticky="false" /> 
                        <f:facet name="header">
                            <div align="center">
                                Crear nómina
                            </div>
                        </f:facet>

                        <p:column>AAAA</p:column>
                        <p:column rowspan="2">AAAA</p:column>
                        <p:column rowspan="3">AAAA</p:column>
                        <p:column rowspan="4">AAAA</p:column>


                        <p:row>
                            <div align="center">

                                <!--                                <p:outputLabel value="Nombre de la nómina:"/> 
                                                                <br></br>
                                                                <p:inputText id="nombreNomina"  
                                                                             maxlength="10" 
                                                                             required="true" 
                                                                             requiredMessage="#{messages['web.app.required.nombreNomina']}"/>-->

                            </div>
                        </p:row>

                        <p:row>
                            <div align="center">
                                <!--                                <p:outputLabel for="ejerFisc" value="Ejercicio Fiscal:" />
                                                                <br></br>
                                                                <br></br>
                                                                <p:selectOneMenu id="ejerFisc" 
                                                                                 value="#{selectOneMenuView.console}" 
                                                                                 style="width:100px">
                                                                    <f:selectItem itemLabel="Ejercicio fiscal" itemValue="" />
                                                                    <f:selectItem itemLabel="2017" itemValue="2018" />
                                                                    <f:selectItem itemLabel="2018" itemValue="2018" />
                                                                    <f:selectItem itemLabel="2019" itemValue="2019" />
                                                                </p:selectOneMenu>-->
                            </div>
                        </p:row>

                        <div class="ui-g-6 ui-md-6 ui-lg-6">

                            <!--                            <p:outputLabel for="quin" value="Quincena:" /> <br></br>
                                                        <p:selectOneMenu id="quin" 
                                                                         value="#{selectOneMenuView.console}" 
                                                                         style="width:125px">
                                                            <f:selectItem itemLabel="Quincena" itemValue="" />
                                                            <f:selectItem itemLabel="2017" itemValue="2017" />
                                                            <f:selectItem itemLabel="2018" itemValue="2018" />
                                                            <f:selectItem itemLabel="2019" itemValue="2019" />
                                                        </p:selectOneMenu>  <br></br>-->

                            <!--                            <p:outputLabel for="tipoNom" value="Tipo de nómina:" /> <br></br>
                                                        <p:selectOneMenu id="tipoNom" value="#{selectOneMenuView.console}" style="width:125px">
                                                            <f:selectItem itemLabel="Tipo de nómina" itemValue="" />
                                                            <f:selectItem itemLabel="2017" itemValue="2017" />
                                                            <f:selectItem itemLabel="2018" itemValue="2018" />
                                                            <f:selectItem itemLabel="2019" itemValue="2019" />
                                                        </p:selectOneMenu>-->
                        </div>

                        <f:facet name = "footer">
                            <div style="padding-left: 60%">
                                <p:commandButton  value="Cancelar" 
                                                  onclick="PF('dlgCrear').hide();" 
                                                  id="btnCancelarGuardar" 
                                                  style="margin-right:2%;" 
                                                  styleClass="ui-priority-primary" />
                                <p:commandButton value="Crear" 
                                                 id="btnGuardar" 
                                                 ajax="true" 
                                                 style="margin-right:2%;" 
                                                 styleClass="ui-priority-primary" />
                            </div>


                        </f:facet>
                    </p:panelGrid>
                </h:form>

                <!--Dialogos inicio-->
                p
                <!--Dialogos fin-->


            </div> <!-- end container -->
        </main>

    </ui:define>
</ui:composition>