<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="body">
        <main>
            <div class="container ">
                <style>
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }
                    .ui-widget-header{
                        background: #FFFFFF; border: none;
                        text-align: center;
                    }
                    .ui-panel .ui-panel-titlebar{
                        padding: 0px;
                    }
                    total .ui-widget-header{
                        color: black;
                    }
                    .ui-widget-content .ui-widget-content{
                        padding: 0px;
                        margin: 0px;
                    }
                    div{
                        padding: 0px;
                        margin: 0px;
                    }
                </style>
                <!--Barra de navejación-->
                <div align="left">
                    <p:outputLabel value="Nomina -> Desgloce nomina" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Desgloce de nomina</h4></center>

                <div>
                    <h:form>
                        <!--Prueba para la caja de busqueda -->

                        <div class="ui-g-12 ui-md-6 ui-lg-4">
                            <p:outputLabel for="cabeceras" value="Cabeceras: "  /> 
                            <br></br> 
                            <p:selectOneMenu id="cabeceras" value="#{desgloceMB.todasCabece}" 
                                             style="width: 90%;" 
                                             converter="omnifaces.SelectItemsConverter" >

                                <f:selectItem itemLabel="Seleccione un periodo" 
                                              itemValue="#{null}" 
                                              noSelectionOption="true" />

                                <f:selectItems value="#{desgloceMB.todasCabece}" 
                                               var="cabeceras" itemLabel="#{cabeceras.codNbnomina}" 
                                               itemValue="#{cabecera}" />

                                <p:ajax event="change" 
                                        listener="#{desgloceMB.busqueda()}" 
                                        />
                            </p:selectOneMenu>
                        </div>
                        <!-- Fin de la caja de busqueda -->
                        <div class="ui-g-12 ui-md-12 ui-lg-12">
                            <p:panel header="Nomina" style="background: #FFFFFF; ">
                                <div class="ui-g-6 ui-md-6 ui-lg-6">

                                    <!--rendered="{desgloceMB.desgloceconcepto.size()>0?true:false}">-->
                                    <p:panel header="Persepciones" style="background: #FFFFFF;">
                                        <p:dataTable id="persepcion" var="sale" value="1"
                                                     emptyMessage="No hay autorizacion " 
                                                     reflow="true" rows="5" paginatorPosition="bottom" 
                                                     rowIndexVar="numerador">
                                            <p:row>
                                                <p:column colspan="" headerText="#{messages['web.app.table.persepciones']}" />
                                            </p:row>
                                            <p:column headerText="#{messages['web.app.table.clave']}">
                                                <h:outputText value="SM" />
                                            </p:column>
                                            <p:column headerText="#{messages['web.app.table.descripcion']}">
                                                <h:outputText value="Sueldo Mensual" />
                                            </p:column>
                                            <p:column headerText="#{messages['web.app.table.importe']}">
                                                <h:outputText value="800.00">
                                                    <!--<f:convertNumber type="currency" currencySymbol="$" />-->
                                                </h:outputText>
                                            </p:column>
                                            <p:columnGroup type="footer">
                                                <p:row>
                                                    <p:column colspan="2" style="text-align:right" footerText="#{messages['web.app.table.totalPersepciones']}" />
                                                    <p:column filterStyle="background: #FFFFFF;" style="" footerText="$800.00">
                                                    </p:column> 
                                                </p:row>
                                            </p:columnGroup>
                                        </p:dataTable>
                                    </p:panel>
                                </div>

                                <div class="ui-g-6 ui-md-6 ui-lg-6">
                                    <p:panel header="Deducciones" style="background: #FFFFFF; border-right: #FFFFFF; border-top: #FFFFFF;">
                                        <!--rendered="{desgloceMB.desgloceconcepto.size()>0?true:false}">-->
                                        <p:dataTable id="deduccion" var="sale" value="0"
                                                     emptyMessage="No hay autorizacion " 
                                                     reflow="true" rows="5" paginatorPosition="bottom" 
                                                     rowIndexVar="numerador" 
                                                     >
                                            <p:column headerText="#{messages['web.app.table.clave']}">
                                                <h:outputText value="SM" />
                                            </p:column>
                                            <p:column headerText="#{messages['web.app.table.descripcion']}">
                                                <h:outputText value="Sueldo Mensual" />
                                            </p:column>
                                            <p:column headerText="#{messages['web.app.table.importe']}">
                                                <h:outputText value="$800" />
                                            </p:column>
                                            <p:columnGroup type="footer">
                                                <p:row>
                                                    <p:column colspan="2" style="text-align:right" footerText="#{messages['web.app.table.totalDeducciones']}" />
                                                    <p:column filterStyle="background: #FFFFFF;" style="" footerText="800.00"> 
                                                    </p:column>
                                                </p:row>
                                            </p:columnGroup>
                                        </p:dataTable>
                                    </p:panel>
                                </div>
                            </p:panel>
                            <p:panel header="Liquidación" id="total">
                            </p:panel>
                            <!--<h:outputText value="Liquidación"></h:outputText>-->
                        </div>
                    </h:form>
                </div>
            </div> <!-- Container -->
        </main>
    </ui:define>
</ui:composition>




