<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">

<!--        <main>
            <div class="container" >

                <div class="hide-on-small-only">
                    <br/><br/>
                </div>
                <div class="row center">
                    <h5 class="header col s12 light">Bienvenido {inicioMB.nombrarEmpleado()}</h5>
                </div>

                <div class="row">
                    <div class="col s6 m4">
                        <div class="icon-block">
                            <h2 class='center light-blue-text'><a href='Configuracion/menuConfiguracion.xhtml'><i class="material-icons medium">perm_data_setting</i></a></h2>
                            <h5 class="center">Configuración</h5> 

                        </div>
                    </div>                                                                
                    <div class="col s6 m4">
                        <div class="icon-block">
                            <h2 class='center light-blue-text'><a href='test/desgloceNom.xhtml'><i class="material-icons medium">perm_data_setting</i></a></h2>
                            <h5 class="center">test</h5> 

                        </div>
                    </div>                                                                
                    <div class="col s6 m4">
                        <div class="icon-block">
                            <h2 class='center light-blue-text'><a href='test/CrearT.xhtml'><i class="material-icons medium">perm_data_setting</i></a></h2>
                            <h5 class="center">test</h5> 

                        </div>
                    </div>                                                                
                </div>     
            </div>  end container 
        </main>-->
<br/>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <ul class="collapsible">
                            <li class="active">
                                <div class="collapsible-header active"><i class="material-icons">build</i>Configuracion</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a href="Configuracion/Argumentos/argumentos.xhtml" class="collection-item">Argumentos</a>
                                        <a href="Configuracion/Conceptos/ConfigConcepto.xhtml" class="collection-item">Conceptos</a>
                                        <a href="Configuracion/Incidencias/Incidencias.xhtml" class="collection-item">Incidencias</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">Nomina</i>Nomina</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a href="#" class="collection-item">Crear</a>
                                        <a href="#" class="collection-item">Consultar</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">money</i>Aprovacion de pagos</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a href="#" class="collection-item">Recursos financieros</a>
                                        <a href="#" class="collection-item">RHDCyAT</a>
                                        <a href="#" class="collection-item">Personal</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">assignment_late</i>Incidencias</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a href="#" class="collection-item">Registrar</a>
                                        <a href="#" class="collection-item">Validar</a>
<!--                                        <a href="#!" class="collection-item">Reporte de Ambiente de Trabajo</a>
                                        <a href="#!" class="collection-item">Buscar y/o Validar Encuesta de Ambiente de Trabajo</a>                                    -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">cached</i>Evaluación de desempeño</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a href="#" class="collection-item">Elaborar o Modificar de Evaluación de Desempeño</a>
                                        <a href="#" class="collection-item">Buscar o Validar Evaluación de Desempeño</a>                                    
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">event_available</i>Reportes RHDCyAT</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a href="#" class="collection-item">Reportes RHDCyAT</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">note_add</i>Plan de Capacitacion</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a href="#" class="collection-item">Agregar Plan de Capacitacion</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">account_circle</i>Información Personal</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a href="#" class="collection-item">Cambiar Contraseña</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>            

                <script>
                    $(document).ready(function () {
                        $('.collapsible').collapsible();
                    });
                </script>
            </div>
    </ui:define>
</ui:composition>
