<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition>

        <footer class="page-footer orange">
            <div class="container">
                <div class="row" >
                    <div class="col s12 m12 l12" >
                        <h5 class="white-text">Miracle Business Network</h5>
                        <p class="grey-text text-lighten-4" style="text-align: justify;" >Ser el mejor socio estratégico de nuestros clientes, colaboradores, proveedores, accionistas y asociados para ser valorados por la sociedad e instituciones.</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">                
                <div class="container">
                    CopyRight <i class='material-icons tiny'>copyright</i> <a class="orange-text text-lighten-4" href="http://www.mbn.com.mx">MBN</a>
                </div>
            </div>
        </footer>
    </ui:composition>
</html>
