<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navegación-->
                <div align="left">
                    <p:outputLabel value="Configuración -> Conceptos" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Configuración conceptos</h4></center>


                <h:form id="detalleConfConcepto" >
                    <p:growl id="mensajesDetalleOrden" showDetail="true" sticky="false" />  
                    <div class="ui-g-12 ui-md-6 ui-lg-12">
                        <p:dataTable id="tablaDetalleConcepto" var="detConcepto" 
                                     rendered="#{!confConceptoMB.visible}"
                                     emptyMessage="No existen Conceptos " value="" 
                                     reflow="true" rows="5" paginatorPosition="bottom" paginator="true" rowIndexVar="numerador" style="font-size: small" 
                                     >

                            <f:facet name="header">
                                .
                                <p:commandButton icon="fa fa-plus-circle" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="#{confConceptoMB.dialogoCrearConfig(1)}"
                                                 update="detalleConfConcepto,detalleCrearConceptoForm">
                                </p:commandButton>
                            </f:facet>

                            <!--<p:column filterBy="#{detConcepto.clave}" headerText="#{messages['web.app.table.clave']}" filterMatchMode="contains">-->
                            <p:column headerText="#{messages['web.app.table.clave']}" >
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.nombre']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoConcepto']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoCalculo']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoNomina']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.partida']}">
                                <h:outputText value="" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.estatus']}">
                                <h:outputText value="" />
                            </p:column>

                            <p:column headerText="Acciones" style="text-align:center" >
                                <p:growl id="messages" showDetail="true"/>

                                <p:menuButton value="">
                                    <p:menuitem value=" Editar" action="#{confConceptoMB.dialogoEditarConfig(2)}" icon="fa fa-edit"
                                                update="detalleConfConcepto,detalleCrearConceptoForm"/>
                                    <p:menuitem value=" Eliminar" action="#{confConceptoMB.dialogoEliminar()}" icon="fa fa-trash"
                                                update="eliminarConfConcepto"/>
                                </p:menuButton>
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:form>

                <h:form id="detalleCrearConceptoForm" >

                    <p:panel class="ui-g-12 ui-md-12 ui-lg-12" rendered="#{confConceptoMB.visible}"
                             style="background: #FFFFFF; border: none;" >
                        <h:panelGrid columns="2">  
                            <p:column>  
                                <div class="ui-g-12 ui-md-6 ui-lg-8"  >
                                    <p:outputLabel value="Clave "/>
                                    <p:inputText id="ClaveDOC" class="materialize-textarea"  value="" />

                                    <p:outputLabel value="Nombre "/>
                                    <p:inputText id="NombreDOC" class="materialize-textarea" value=""/>

                                    <p:outputLabel value="Tipo Nomina " />
                                    <p:selectOneMenu id="TipoNominaDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="Quincenal" itemValue="Quincenal"    />
                                        <f:selectItem itemLabel="Aguinaldo" itemValue="Aguinaldo"    />
                                    </p:selectOneMenu>

                                    <p:separator/>
                                    <p:outputLabel value="Tipo Calculo " />
                                    <p:selectOneMenu id="TipoCalculoDOC" class="materialize-textarea"  
                                                     value="#{confConceptoMB.tipoCalculoDOC}" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="Importe" itemValue="1"    />
                                        <f:selectItem itemLabel="Calculo" itemValue="2"    />
                                        <p:ajax event="change" listener="#{confConceptoMB.tipoCalculo()}" 
                                                update="@form"/>
                                    </p:selectOneMenu>
                                    <p:separator/>
                                    <p:outputLabel value="Tipo Clasificador " />
                                    <p:selectOneMenu id="TipoClasificadorDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="1" itemValue="1"    />
                                        <f:selectItem itemLabel="2" itemValue="2"    />
                                    </p:selectOneMenu>
                                    <p:separator/>
                                    <p:outputLabel value="Frecuencia de Pago "/>
                                    <p:selectOneMenu id="FrecuenciaPagoDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="Quincenal" itemValue="Quincenal"    />
                                        <f:selectItem itemLabel="Mensual" itemValue="Semestral"    />
                                        <f:selectItem itemLabel="Semestral" itemValue="Semestral"    />
                                        <f:selectItem itemLabel="Anual" itemValue="Semestral"    />



                                    </p:selectOneMenu>
                                    <p:separator/>
                                    <p:outputLabel value="Cuenta Contable "/>
                                    <p:selectOneMenu id="CuentaContableDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="xxxxxxx" itemValue="xxxxxxx"    />
                                        <f:selectItem itemLabel="yyyyyyy" itemValue="yyyyyyy"    />
                                    </p:selectOneMenu>
                                    <p:separator/>
                                </div>
                            </p:column>
                            <p:column>  
                                <div class="ui-g-12 ui-md-6 ui-lg-8"  >
                                    <p:outputLabel value="Partida Presupuestal "/>
                                    <p:selectOneMenu id="PartidaDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="jykjf" itemValue="jykjf"    />
                                        <f:selectItem itemLabel="hehe" itemValue="hehe"    />
                                    </p:selectOneMenu>
                                    <p:separator/>
                                    <p:outputLabel value="Fundamento Legal "/>
                                    <p:inputText id="FunLegalDOC" class="materialize-textarea" value=""/>
                                    <p:separator/>
                                    <p:outputLabel value="Aplica ISN "/>
                                    <p:selectOneMenu id="ISNDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="Si" itemValue="Si"    />
                                        <f:selectItem itemLabel="No" itemValue="No"    />
                                    </p:selectOneMenu>
                                    <p:separator/>
                                    <p:outputLabel value="Aplica Retroactividad "/>
                                    <p:selectOneMenu id="RetroactividadDOC" class="materialize-textarea"  
                                                     value="#{confConceptoMB.retroactividadDOC}" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="Si" itemValue="1"    />
                                        <f:selectItem itemLabel="No" itemValue="2"    />
                                        <p:ajax event="change" listener="#{confConceptoMB.retroactividad()}" 
                                                update="RetroActSi,detalleCrearConceptoForm"/>
                                    </p:selectOneMenu> 
                                    <p:separator/>
                                    <p:outputLabel value="Concepto SAT "/>
                                    <p:selectOneMenu id="ConcepSATDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="gnfg" itemValue="gnfg"    />
                                        <f:selectItem itemLabel="bfgb" itemValue="bfgb"    />
                                    </p:selectOneMenu>
                                    <p:separator/>
                                    <p:outputLabel value="TopeExcention"/>
                                    <p:inputText id="TopeExcentionDOC" class="materialize-textarea" value=""/>
                                    <p:separator/>
                                    <p:outputLabel value="Tipo Concepto "/>
                                    <p:selectOneMenu id="TipoConceptoDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                        <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                        <f:selectItem itemLabel="Percepcion" itemValue="Percepcion"    />
                                        <f:selectItem itemLabel="Deducccion" itemValue="Deducccion"    />
                                    </p:selectOneMenu>

                                </div>
                            </p:column>                      

                        </h:panelGrid>

                        <h:panelGrid columns="2" id="RetroActSi" rendered="#{confConceptoMB.retroactividadDOC==1?true:false}">  
                            <p:column>
                                <div class="ui-g-8 ui-md-6 ui-lg-4"  >
                                    <p:selectOneRadio id="RetroAct" value="#{confConceptoMB.retroAct}" >
                                        <f:selectItem itemLabel="Gravado" itemValue="1" />
                                        <f:selectItem itemLabel="Exento" itemValue="2" />
                                        <p:ajax event="change" listener="#{confConceptoMB.retroAct()}" 
                                                update="SiGravado,RetroActSi,detalleCrearConceptoForm"/>
                                    </p:selectOneRadio>

                                    <p:selectOneRadio id="SiGravado" value="#{confConceptoMB}" 
                                                      rendered="#{confConceptoMB.retroAct==1?true:false}">
                                        <f:selectItem itemLabel="Dias" itemValue="1" />
                                        <f:selectItem itemLabel="Porcentaje" itemValue="2" />
                                        <f:selectItem itemLabel="No Aplica" itemValue="3" />
                                    </p:selectOneRadio>
                                </div >
                            </p:column>
                        </h:panelGrid>
                        
                        <p:panel id="DefFormula" rendered="#{confConceptoMB.tipoCalculoDOC==2?true:false}">
                            <h4>Definición de formula</h4>
                            <h:panelGrid columns="1">
                                <p:column> 
                                    <div class="ui-g-12 ui-md-12 ui-lg-12"  >
                                        <p:outputLabel value="Formula:"/>
                                        <br></br>
                                        <br></br>
                                        <p:inputTextarea rows="1" cols="50" queryDelay="750" minQueryLength="4" 
                                                         id="FormulaDOC" class="materialize-textarea"
                                                         value="#{confConceptoMB.formulaDOC}"
                                                         style="width: 90%; height: 10px"/>
                                    </div>
                                </p:column> 
                                
                            </h:panelGrid>
                            
                            <h:panelGrid columns="3">
                                <p:column> 
                                    <div class="ui-g-8 ui-md-6 ui-lg-10"  >
                                        <p:outputLabel value="Constantes "/>
                                        <p:selectOneMenu id="ConstantesDOC" class="materialize-textarea"  
                                                         value="#{confConceptoMB.constantesDOC}" style="width: 90%;">
                                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Dias" itemValue="Dias"    />
                                            <f:selectItem itemLabel="Horas" itemValue="Horas"    />
                                            <p:ajax event="change" listener="#{confConceptoMB.constantes()}" 
                                                    update="FormulaDOC,ConstantesDOC"/>
                                        </p:selectOneMenu>
                                    </div>
                                </p:column> 
                                <p:column> 
                                    <div class="ui-g-8 ui-md-6 ui-lg-10"  >
                                        <p:outputLabel value="Funciones "/>
                                        <p:selectOneMenu id="FuncionesDOC" class="materialize-textarea"  
                                                         value="#{confConceptoMB.funcionesDOC}" style="width: 90%;">
                                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Sueldo" itemValue="Sueldo"    />
                                            <f:selectItem itemLabel="Aguinaldo" itemValue="Aguinaldo"    />
                                            <p:ajax event="change" listener="#{confConceptoMB.funciones()}" 
                                                    update="FormulaDOC,FuncionesDOC"/>
                                        </p:selectOneMenu>
                                    </div>
                                </p:column> 
                                <p:column> 
                                    <div class="ui-g-8 ui-md-6 ui-lg-10"  >
                                        <p:outputLabel value="Operadores "/>
                                        <p:selectOneMenu id="OperadoresDOC" class="materialize-textarea"  
                                                         value="#{confConceptoMB.operadoresDOC}" style="width: 90%;">
                                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="*" itemValue="*"    />
                                            <f:selectItem itemLabel="/" itemValue="/"    />
                                            <f:selectItem itemLabel="-" itemValue="-"    />
                                            <f:selectItem itemLabel="+" itemValue="+"    />
                                            <f:selectItem itemLabel="(" itemValue="("    />
                                            <f:selectItem itemLabel=")" itemValue=")"    />
                                            <p:ajax event="change" listener="#{confConceptoMB.operadores()}" 
                                                    update="FormulaDOC,OperadoresDOC"/>
                                        </p:selectOneMenu>
                                    </div>
                                </p:column> 
                            </h:panelGrid>

                            <h:panelGrid columns="2">
                                <p:column>
                                    <div class="ui-g-8 ui-md-8 ui-lg-8"  >
                                        <p:outputLabel value="Cargar valores:"/>
                                        <br></br>
                                        <br></br>
                                        <p:outputLabel value="Argumento 1:"/>
                                        <p:inputText id="Valores" class="materialize-textarea" value=""/>
                                        
                                        <p:outputLabel value="Argumento 2:"/>
                                        <p:inputText id="Valores2" class="materialize-textarea" value=""/>
                                        
                                    </div>
                                </p:column>
                                <p:column>
                                    <div class="ui-g-8 ui-md-8 ui-lg-8"  >
                                        <p:outputLabel value="Prueba "/>
                                        <p:inputText id="PruebaDOC" class="materialize-textarea" value=""/>
                                    </div>
                                </p:column>
                                
                            </h:panelGrid>

                            <p:commandButton value="Limpiar Formula" process="@this" 
                                             action="#{confConceptoMB.limpiarFormula()}"
                                             update="FormulaDOC">
                            </p:commandButton>
                        </p:panel>

                        <p:commandButton value="#{messages['web.app.icono.agregar']}" process="@this" 
                                         style="display:inline; float:right;" 
                                         action="#{confConceptoMB.guadar()}"
                                         update="detalleConfConcepto,detalleCrearConceptoForm"
                                         rendered="#{confConceptoMB.mostrarBoton==1?true:false}">
                        </p:commandButton>

                        <p:commandButton value="Actualizar" process="@this" 
                                         style="display:inline; float:right;" 
                                         action="#{confConceptoMB.actualizar()}"
                                         update="detalleConfConcepto,detalleCrearConceptoForm"
                                         rendered="#{confConceptoMB.mostrarBoton==2?true:false}">
                        </p:commandButton>

                        <p:commandButton value="Cancelar" process="@this" 
                                         style="display:inline; float:right;" 
                                         action="#{confConceptoMB.cancelar()}"
                                         update="detalleConfConcepto,detalleCrearConceptoForm">
                        </p:commandButton>
                    </p:panel>
                </h:form>

                <style>
                    #eliminarConfConcepto {
                        top: 30% !important;
                        background:#FFFFFF;
                    }
                </style>                

                <p:dialog id="eliminarConfConcepto" resizable="false" header="Eliminar Configuracion Concepto" 
                          widgetVar="eliminarConfConcepto" modal="true" height="200" width="350" 
                          closable="false" draggable="false">
                    <h:form id="eliminarConceptoForm">
                        <h:panelGrid columns="1">  
                            <p:column>
                                <center><p>Desea eliminar configuración conceptos</p></center>
                            </p:column>
                            <f:facet name = "footer">
                                <h:panelGroup style = "display:block; text-align:center">
                                    <p:commandButton value="Si" icon="ui-icon-check" process="@this" 
                                                     action="#{confConceptoMB}"
                                                     >
                                    </p:commandButton>     
                                    <p:commandButton value="No" icon="fa fa-times" process="@this" 
                                                     action="#{confConceptoMB}"
                                                     onclick="PF('eliminarConfConcepto').hide();">
                                    </p:commandButton>        
                                </h:panelGroup>
                            </f:facet>
                        </h:panelGrid>
                    </h:form>
                </p:dialog>

            </div> <!-- end container -->
        </main>

    </ui:define>
</ui:composition>