<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/template/template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">   

    <ui:define name="body">
        <main>
            <div class="container ">
                <!--Barra de navegación-->
                <div align="left">
                    <p:outputLabel value="Configuración -> Conceptos" style="font-weight: bold;" />    
                    <p:separator style="width: 100%; height:5px" />
                </div>

                <center><h4>Configuración de conceptos</h4></center>
                <style>
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }
                    .ui-outputLabel{
                        color: black;
                    }

                </style>
                <h:form id="detalleConfConcepto" >
                    <p:growl id="mensajesDetalleOrden" showDetail="true" sticky="false" />  
                    <div class="ui-g-12 ui-md-12 ui-lg-12">
                        <p:dataTable id="tablaDetalleConcepto" var="detConcepto" 
                                     rendered="#{!confConceptoMB.visible}"
                                     emptyMessage="No existen Conceptos " value="#{confConceptoMB.listaConceptos}" 
                                     reflow="true" rows="5" paginatorPosition="bottom" 
                                     paginator="true" rowIndexVar="numerador" style="font-size: small" 
                                     >

                            <f:facet name="header">
                                .
                                <p:commandButton icon="#{messages['web.app.icon.agregar']}" process="@this" 
                                                 style="display:inline; float:right; font-size:x-small;"
                                                 action="#{confConceptoMB.dialogoCrear()}"
                                                 update="detalleConfConcepto,detalleCrearConceptoForm">
                                </p:commandButton>
                            </f:facet>

                            <p:column filterBy="#{detConcepto.codClaveconcepto}" 
                                      filterStyle="background: #FFFFFF; width:90%; height:40%;"
                                      headerText="#{messages['web.app.table.clave']}" filterMatchMode="contains">
                            <!--<p:column headerText="#{messages['web.app.table.clave']}" >-->
                                <h:outputText value="#{detConcepto.codClaveconcepto}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.nombre']}">
                                <h:outputText value="#{detConcepto.codNbconcepto}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoConcepto']}">
                                <h:outputText value="#{detConcepto.codTipoconceptoidFk.codTipoconcepto}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoCalculo']}">
                                <h:outputText value="#{detConcepto.codCalculoidFk.codTpcalculo}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.tipoNomina']}">
                                <h:outputText value="#{detConcepto.codTiponominaidFk.codNomina}" />
                            </p:column>
                            <p:column headerText="#{messages['web.app.table.partida']}">
                                <h:outputText value="#{detConcepto.codPartidaprep}" />
                            </p:column>

                            <p:column headerText="Acciones" style="text-align:center" >
                                <p:menuButton value="" icon="#{messages['web.app.icon.desplegar']}">
                                    <p:menuitem value=" Editar" action="#{confConceptoMB.dialogoEditar(detConcepto)}" icon="#{messages['web.app.icon.editar']}"
                                                update="detalleConfConcepto,detalleCrearConceptoForm"/>
                                    <p:menuitem value=" Eliminar" action="#{confConceptoMB.dialogoEliminar(detConcepto)}" icon="#{messages['web.app.icon.eliminar']}"
                                                update="eliminarConfConcepto"/>
                                </p:menuButton>
                            </p:column>
                        </p:dataTable>
                    </div>
                </h:form>
                <h:form   id="detalleCrearConceptoForm">
                    <p:panel class="ui-g-12 ui-md-12 ui-lg-12" rendered="#{confConceptoMB.visible}"
                             style="background: #FFFFFF; border: none;" >
                        <div class="ui-g-5 ui-md-4 ui-lg-5"  >
                            <div class="row">
                                <p:outputLabel value="Clave: " />
                                <p:inputText id="ClaveDOC" maxlength="5"
                                             value="#{confConceptoMB.conceptoSeleccionado.codClaveconcepto}" 
                                             class="materialize-textarea" required="true"/>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Nombre: "/>
                                <p:inputText id="NombreDOC"  
                                             value = "#{confConceptoMB.conceptoSeleccionado.codNbconcepto}"
                                             class="materialize-textarea"/>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Tipo calculo: " />
                                <p:selectOneMenu id="TipoCalculoDOC" class="materialize-textarea"  
                                                 value="#{confConceptoMB.calculoSeleccinado}" style="width: 90%;"
                                                 converter="omnifaces.SelectItemsConverter">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems value="#{confConceptoMB.listatipocalculo}" var="tipocalculo" 
                                                   itemLabel="#{tipocalculo.codTpcalculo}" itemValue="#{tipocalculo}"  />
                                    <p:ajax event="change" listener="#{confConceptoMB.tipoCalculo()}" process="@this"
                                            update="@form,:detalleCrearConceptoForm:DefFormula"/>
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Tipo clasificador: " />
                                <p:selectOneMenu id="TipoClasificadorDOC" class="materialize-textarea"  
                                                 value="#{confConceptoMB.conceptoSeleccionado}" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems value="#{confConceptoMB.listaclasificadores}" var="clasificador" 
                                                   itemLabel="#{clasificador.codTpclasificador}" itemValue="#{clasificador}"  />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Frecuencia de pago: "/>
                                <p:selectOneMenu id="FrecuenciaPagoDOC" class="materialize-textarea"  
                                                 value="#{confConceptoMB.conceptoSeleccionado.codFrecuenciapago}" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Quincenal" itemValue="Q"    />
                                    <f:selectItem itemLabel="Mensual" itemValue="M"    />
                                    <f:selectItem itemLabel="Semestral" itemValue="S"    />
                                    <f:selectItem itemLabel="Anual" itemValue="A"    />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Cuenta contable: "/>
                                <p:inputText id="cuentaContable" class="materialize-textarea"  
                                             value="#{confConceptoMB.conceptoSeleccionado.cnuCuentacontable}" />
                            </div>
                        </div>
                        <div class="ui-g-2 ui-md-2 ui-lg-2"  >
                        </div>
                        <div class="ui-g-5 ui-md-4 ui-lg-5 "  >
                            <div class="row">
                                <p:outputLabel value="Partida presupuestal: "/>
                                <p:inputText id="partidaPresupuestal" class="materialize-textarea"  
                                             value="#{confConceptoMB.conceptoSeleccionado.codPartidaprep}" />
                            </div>
                            <div class="row">
                                <p:outputLabel value="Fundamento legal: "/>
                                <p:inputText id="FunLegalDOC" class="materialize-textarea" 
                                             value="#{confConceptoMB.conceptoSeleccionado.cnuArticulo}"/>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Aplica ISN: "/>
                                <p:selectOneMenu id="ISNDOC" class="materialize-textarea"  
                                                 value="#{confConceptoMB.conceptoSeleccionado}" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Si" itemValue="Si"    />
                                    <f:selectItem itemLabel="No" itemValue="No"    />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Aplica retroactividad: "/>
                                <p:selectOneMenu id="RetroactividadDOC" class="materialize-textarea"  
                                                 value="#{confConceptoMB.retroactividadDOC}" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItem itemLabel="Si" itemValue="1"    />
                                    <f:selectItem itemLabel="No" itemValue="2"    />
                                    <p:ajax event="change" listener="#{confConceptoMB.retroactividad()}" 
                                            update="detalleCrearConceptoForm:RetroActSi"/>
                                </p:selectOneMenu> 
                            </div>
                            <div class="row">
                                <p:outputLabel value="Concepto SAT: "/>
                                <p:selectOneMenu id="ConceptoSATDOC" class="materialize-textarea"  
                                                 value="#{confConceptoMB.conceptoSeleccionado}" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems value="#{confConceptoMB.listaconceptosat}" var="conceptosat" 
                                                   itemLabel="#{conceptosat.desConceptosat}" itemValue="#{conceptosat}"  />
                                </p:selectOneMenu>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Tope Excepción:"/>
                                <p:inputText id="TopeExcentionDOC" class="materialize-textarea" value=""/>
                            </div>
                            <div class="row">
                                <p:outputLabel value="Tipo concepto: "/>
                                <p:selectOneMenu id="TipoConceptoDOC" class="materialize-textarea"  value="" style="width: 90%;">
                                    <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems value="#{confConceptoMB.listaTipoConcepto}" var="tipoconcepto" 
                                                   itemLabel="#{tipoconcepto.codTipoconcepto}" itemValue="#{tipoconcepto}"  />
                                </p:selectOneMenu>
                            </div>
                        </div> 
                        <h:panelGrid columns="2" id="RetroActSi" rendered="#{confConceptoMB.retroactividadDOC==1?true:false}">  
                            <p:column>
                                <div class="ui-g-8 ui-md-6 ui-lg-4"  >
                                    <p:selectOneRadio id="RetroAct" value="#{confConceptoMB.retroAct}" >
                                        <f:selectItem itemLabel="Gravado" itemValue="1" />
                                        <f:selectItem itemLabel="Exento" itemValue="2" />
                                        <p:ajax event="change" listener="#{confConceptoMB.retroAct()}" 
                                                update="detalleCrearConceptoForm:SiGravado,detalleCrearConceptoForm:RetroActSi"/>
                                    </p:selectOneRadio>
                                    <p:selectOneRadio id="SiGravado" value="#{confConceptoMB}" 
                                                      rendered="#{confConceptoMB.retroAct==1?true:false}">
                                        <f:selectItem itemLabel="Dias" itemValue="1" />
                                        <f:selectItem itemLabel="Porcentaje" itemValue="2" />
                                        <f:selectItem itemLabel="No Aplica" itemValue="3" />
                                    </p:selectOneRadio>
                                </div >
                            </p:column>
                        </h:panelGrid>
                        <!--</p:panel>-->
                        <p:panel id="DefFormula"  
                                 rendered="#{confConceptoMB.tipoCalculoDOC==2?true:false}"
                                 style="background: #FFFFFF; border: none;">
                            <h4>Definición de formula</h4>
                            <div class="ui-g-4 ui-md-4 ui-lg-4">
                                <p:outputLabel value="Nombre de la formula: "/>
                                <p:inputText id="NomFomulaDOC" class="materialize-textarea" 
                                             value="#{confConceptoMB.nomFomulaDOC}"/>
                            </div>
                            <div class="ui-g-12 ui-md-12 ui-lg-12"  >
                                <p:outputLabel value="Formula: "/>
                                <p:inputTextarea rows="4" cols="70" queryDelay="750" minQueryLength="4" 
                                                 id="FormulaDOC" class="materialize-textarea"
                                                 value="#{confConceptoMB.formulaDOC}"
                                                 required="true"
                                                 readonly="true"/>
                            </div>
                            <h:panelGrid columns="3">
                                <p:column> 
                                    <div class="ui-g-8 ui-md-6 ui-lg-10"  >
                                        <p:outputLabel value="Constantes: "/>
                                        <p:selectOneMenu id="ConstantesDOC" class="materialize-textarea"  
                                                         value="#{confConceptoMB.constantesDOC}" style="width: 90%;">
                                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems value="#{confConceptoMB.listaargumentosconstantes}" var="constantes" 
                                                           itemLabel="#{constantes.codNbargumento}" itemValue="#{constantes.codNbargumento}"  />

                                            <p:ajax event="change" listener="#{confConceptoMB.constantes()}" 
                                                    update="FormulaDOC,ConstantesDOC,guests,PruebaDOC"/>
                                        </p:selectOneMenu>
                                    </div>
                                </p:column> 
                                <p:column> 
                                    <div class="ui-g-8 ui-md-6 ui-lg-10"  >
                                        <p:outputLabel value="Operadores: "/>
                                        <p:selectOneMenu id="OperadoresDOC" class="materialize-textarea"  
                                                         value="#{confConceptoMB.operadoresDOC}" style="width: 90%;">
                                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="*" itemValue="*"    />
                                            <f:selectItem itemLabel="/" itemValue="/"    />
                                            <f:selectItem itemLabel="-" itemValue="-"    />
                                            <f:selectItem itemLabel="+" itemValue="+"    />
                                            <f:selectItem itemLabel="(" itemValue="("    />
                                            <f:selectItem itemLabel=")" itemValue=")"    />
                                            <p:ajax event="change" listener="#{confConceptoMB.operadores()}" 
                                                    update="FormulaDOC,OperadoresDOC,guests"/>
                                        </p:selectOneMenu>
                                    </div>
                                </p:column> 
                                <p:column> 
                                    <div class="ui-g-8 ui-md-6 ui-lg-10"  >
                                        <p:outputLabel value="Funciones: "/>
                                        <p:selectOneMenu id="FuncionesDOC" class="materialize-textarea"  
                                                         value="#{confConceptoMB.funcionesDOC}" style="width: 90%;">
                                            <f:selectItem itemLabel="Seleccione uno" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems value="#{confConceptoMB.listaargumentosvariables}" var="variables" 
                                                           itemLabel="#{variables.codNbargumento}" itemValue="#{variables.codNbargumento}"  />

                                            <p:ajax event="change" listener="#{confConceptoMB.funciones()}" 
                                                    update="FormulaDOC,FuncionesDOC,guests,PruebaDOC"/>
                                        </p:selectOneMenu>
                                    </div>

                                </p:column> 
                            </h:panelGrid>
                            <p:commandButton value="Limpiar Formula" process="@this" 
                                             action="#{confConceptoMB.limpiarFormula()}"
                                             update="FormulaDOC,guests">
                            </p:commandButton>
                            <p:commandButton value="probar" process="@this" 
                                             style="display:inline; float:right;" 
                                             action="#{confConceptoMB.calcularFormula()}"
                                             update="detalleConfConcepto,detalleCrearConceptoForm,PruebaDOC">
                            </p:commandButton>
                        </p:panel>
                        <div class="row">
                            <p:commandButton value="#{messages['web.app.button.guardar']}" process="@this" 
                                             style="display:inline; float:right;" 
                                             actionListener="#{confConceptoMB.guardarConcepto()}"
                                             id="guardar" ajax="true"
                                             update="detalleConfConcepto,detalleCrearConceptoForm"/>
                            
                            <p:commandButton value="prioridad" process="@this" 
                                             style="display:inline; float:right;" 
                                             action="#{confConceptoMB.dialogoPrioridadCalculo()}"
                                             update="prioridadCalculoDialogo">
                            </p:commandButton>
                            <p:commandButton value="#{messages['web.app.button.cancelar']}" process="@this" 
                                             style="display:inline; float:right;" 
                                             action="#{confConceptoMB.setVisible(false)}"
                                             update="detalleConfConcepto,detalleCrearConceptoForm">
                            </p:commandButton>
                        </div>

                    </p:panel>
                </h:form>


                <h:panelGrid columns="2" id="guests">
                    <p:column rendered="#{confConceptoMB.partes.size()>0?true:false}">
                        <div class="ui-g-8 ui-md-8 ui-lg-8"  >
                            <p:outputLabel value="Cargar valores:"/>
                            <br></br>
                            <br></br>
                            <h:panelGroup >
                                <h:form >
                                    <ui:repeat value="#{confConceptoMB.partes}" var="valoresFormula" varStatus="loop">
                                        <h:outputText value="#{confConceptoMB.partes.get(loop.index)}" />
                                        <p:inputNumber value="#{confConceptoMB.valor}"  required="true">
                                            <p:ajax process="@this"  listener="#{confConceptoMB.agregarValores(loop.index)}"/>
                                        </p:inputNumber>
                                    </ui:repeat>
                                </h:form>
                            </h:panelGroup>
                        </div>
                    </p:column>
                    <p:column rendered="#{confConceptoMB.partes.size()>0?true:false}">
                        <div class="ui-g-8 ui-md-8 ui-lg-8"  >
                            <p:outputLabel value="Prueba "/>
                            <p:inputNumber id="PruebaDOC" class="materialize-textarea" value="#{confConceptoMB.resultado}"/>
                        </div>
                    </p:column>
                </h:panelGrid>
                <style>
                    #eliminarConfConcepto {
                        top: 30% !important;
                        background:#FFFFFF;
                    }

                    #prioridadCalculoDialogo{
                        top: 30% !important;
                    }
                    .disable-scroll{
                        overflow: hidden !important;
                    }
                    .ui-datatable-tablewrapper{
                        overflow-x: hidden !important;
                    }
                </style>                

                <p:confirmDialog id="eliminarConfConcepto" widgetVar="eliminarConfConcepto" header="Eliminar configuracion del concepto" closable="false"
                                 message="Desea eliminar el concepto" showEffect="fade" hideEffect="fade">
                    <center>

                        <p:commandButton value="#{messages['web.app.button.no']}" process="@this" 
                                         onclick="PF('eliminarConfConcepto').hide();" />

                        <p:commandButton value="#{messages['web.app.button.si']}" immediate="true"
                                         styleClass="ui-confirmdialog-yes" 
                                         icon="fa fa-check" 
                                         action="#{confConceptoMB.eliminarConcepto()}" 
                                         update="eliminarConfConcepto" />
                    </center>
                </p:confirmDialog>

                <!--inicio de dialogo para asignar prioridad de calculo-->

                <p:dialog id="prioridadCalculoDialogo" resizable="false" closable ='false' 
                          styleClass="disable-scroll" draggable="false"  
                          widgetVar="prioridadCalculoDialogo"  modal="true" 
                          height="50%" width="60%" style ="background: #FFFFFF;" >
                    <h:form id="prioridadCalculoForm">
                        <p:growl id="msgs" showDetail="true" />
                        <div class="row" >
                            <p:dataTable var="detprioridadCalculo" value="#{confConceptoMB.listaConceptosFiltrados}" 
                                         draggableRows="true">
                                <p:ajax event="rowReorder" listener="#{confConceptoMB.onRowReorder}" 
                                        update=":prioridadCalculoForm:msgs" />
                                <f:facet name="header">
                                    Prioridad de calculo
                                </f:facet>
                                <p:column headerText="#{messages['web.app.table.nombre']}" width="30%">
                                    <h:outputText value="#{detprioridadCalculo.codNbconcepto}" />
                                </p:column>
                                <p:column headerText="#{messages['web.app.table.prioridadCalculo']}" width="30%">
                                    <h:outputText value="#{detprioridadCalculo.cnuPrioricalculo}" />
                                </p:column>

                            </p:dataTable>


                        </div>


                        <!--                        <f:facet name = "footer">-->
                        <div class="row" style="align-content: center">
                            <p:commandButton  value="Cancelar" onclick="PF('prioridadCalculoDialogo').hide();"  
                                              id="btnCancelarPrioridadCalculo" style="margin-right:2%;" 
                                              styleClass="ui-priority-primary" />
                            <p:commandButton value="Aceptar" id="btnAceptar" update="prioridadCalculoDialogo"  
                                             action="#{confConceptoMB}" style="margin-right:2%;" 
                                             styleClass="ui-priority-primary" />
                        </div>
                        <!--</f:facet>-->
                    </h:form>
                </p:dialog>  <!--fin dialogo prioridad calculo-->
            </div> <!-- end container -->
        </main>

    </ui:define>
</ui:composition>
